<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function fn_add_act(){
	document.frm.submit();
}
</script>
</head>
<body>
<h3>EMP_ADD</h3>
<hr/>
<form action="emp_add_act" method="post" name="frm">
<table>
	<tr>
		<th>사번</th>
		<td><input type="text" name="e_id"></td>
	</tr>
	<tr>
		<th>이름</th>
		<td><input type="text" name="e_name"></td>
	</tr>
	<tr>
		<th>성별</th>
		<td><input type="text" name="sex"></td>
	</tr>
	<tr>
		<th>주소</th>
		<td><input type="text" name="addr"></td>
	</tr>
	<tr>
		<td colspan="2" style="text-align : center;">
			<input type="button" value="실행" onclick="fn_add_act()">
		</td>
	</tr>
</table>
</form>
</body>
</html>