<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function fn_mod(){
	location.href="emp_mod?e_id={{vo.e_id}}"	
}

function fn_del_act(){
	document.frm.submit();
}
</script>
</head>
<body>
<h3>EMP_DETAIL</h3>
<hr/>
<form action="emp_del_act" method="post" name="frm">
	<input type="hidden" name="e_id" value="{{vo.e_id}}">
</form>

<table border="1" style="border-collapse : collapse;">
	<tr>
		<th>사번</th>
		<td>{{vo.e_id}}</td>
	</tr>
	<tr>
		<th>이름</th>
		<td>{{vo.e_name}}</td>
	</tr>
	<tr>
		<th>성별</th>
		<td>{{vo.sex}}</td>
	</tr>
	<tr>
		<th>주소</th>
		<td>{{vo.addr}}</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="button" value="수정" onclick="fn_mod()">
			<input type="button" value="삭제" onclick="fn_del_act()">
		</td>
	</tr>

</table>
</body>
</html>